# terraform.tfvars для ЛР3
# cp terraform.tfvars.example terraform.tfvars
# Подставьте ВАШИ значения. НЕ коммитьте terraform.tfvars

# Proxmox API URL
proxmox_endpoint = "https://<ваш-ip>:8006/"

# Proxmox API-токен
proxmox_api_token = "<пользователь>!<токен-id>=<секрет>"

proxmox_node_name = "pve"

vm_user = "ubuntu"

ssh_public_key_path = "~/.ssh/id_ed25519.pub"

gateway = "192.168.0.1"
