# terraform.tfvars для ЛР9
# cp terraform.tfvars.example terraform.tfvars
# Подставьте ВАШИ значения. НЕ коммитьте terraform.tfvars

# Proxmox API URL
proxmox_endpoint = "https://<ваш-ip>:8006/"

# Proxmox API-токен (Datacenter → Permissions → API Tokens → Add)
proxmox_api_token = "<пользователь>!<токен-id>=<секрет>"

proxmox_node_name = "pve"

template_vm_id = 9000

datastore_id = "vm-storage"

vm_user = "ubuntu"

ssh_public_key_path = "~/.ssh/id_ed25519.pub"

gateway = "192.168.0.1"
